# Python
__pycache__/
*.py[cod]
*.log
*.sqlite*
.venv/
venv/

# Editors/OS
.idea/
.vscode/
.DS_Store

# Build/Dist
build/
dist/
*.egg-info/

# App artifacts
out/
*.zip
simplec-autotests.zip
gigachat_token.py.save

# Env
.env
